p{
    font-weight: bold;
    font-size: 20px;
 }
 
 
 #top{
    text-decoration: underline;
 }
 
 
 .emphasizedText{
    font-style: italic;
    color: gray;
 }
   
 body{
    background-color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
 }
 
 
 .centered-list{
    padding-left: 0;
    list-style-position: outside;
    margin: 0% auto;
    display: table;
    text-align: left;
 }
 